
<h6><strong>Requirements for Fellows</strong></h6>

<ul>
	<li>Fellows will be required to submit a report detailing the impact and outcomes of their projects at the conclusion of the fellowship.</li>
	<li>Fellows must be willing to sign a grant agreement and to provide Creative Commons with any requested information relating to processing funds.</li>
	<li>Fellows must be willing to be identified and promoted in conjunction with their projects by Creative Commons or their partner organizations..</li>
	<li>Fellows must agree to publish all related works and output related to the funded project or initiative as free, openly licensed and/or open-source.</li>
	<li>Fellows will be solely responsible for related tax collection or reporting for any received funds.</li>
	<li>Fellows must be able to receive funds from Creative Commons. Creative Commons will not provide funds if OFAC or other laws or regulations restrict it from doing so.</li>
</ul>

<p>All materials should be submitted digitally to <a href="mailto:fellowships@creativecommons.org">fellowships@creativecommons.org</a> with “Bassel Khartabil Free Culture Fellowship application” in the subject line.</p>
<p>Creative Commons welcomes encrypted applications. All information will be handled in accordance with the <a href="https://creativecommons.org/privacy">Creative Commons Privacy Policy.</a> PGP Key: 0xB7246757CAD068FD06F5B4431ACC9B351A0F2C1E</p>

<p><strong>Questions or comments? </strong>Please contact fellowship@basselkhartabil.org</p>