<h3>Where Can I Learn More About the Fellowship and Bassel?</h3>
<div class="press">
    <ul>
        <li>08 Feb 2018, <a href="https://creativecommons.org/2018/02/07/bassel-post/">Creative Commons launches Memorial Fund Grants and Fellowship in Memory of Bassel Khartabil</a>, Creative Commons</li>
        <li>02 Feb 2018, <a href="http://jimmywalesfoundation.org/memorial-fund-grants-launched-in-memory-of-bassel-khartabil/">Memorial Fund Grants Launched in Memory of Bassel Khartabil</a>, Jimmy Wales Foundation</li>
    </ul>
</div>
