<h3 id="how-do-i-apply-to-the-fellowship">How Do I Apply to the Fellowship?</h3>

<p>Interested applicants should submit the following materials to <strong><a href="mailto:fellowships@creativecommons.org">fellowships@creativecommons.org</a></strong> with <strong>“Bassel Khartabil Free Culture Fellowship application”</strong> in the subject line:</p>

<ul>
	<li>A vision statement, which should address the following:</li>
	<ul>
		<li>Your alignment with the <a ref="#who-shoulda-apply"eligibility requirements</a>.</li>
		<li>Details regarding your proposed initiative or project, including anticipated impacts, goals, and outcomes.</li>
		<li>Your record of open community contribution and collaboration.</li>
	</ul>
	<li>Biography and curriculum vitae.</li>
	<li>A brief (one page or less) breakdown of your budgetary request, including planned expenses and resource requirements for the year of project development.</li>
	<li>You may also submit additional background materials to document you previous work and successes, including blog posts, video or audio, media coverage, or expressions of support.</li>
	</ul>

<p><strong>The latest date for applications to be considered is <u>March 24, 2018.</u></strong></p>

<p>Applicants whose projects are chosen to advance to the next stage in the evaluation process may be asked to provide additional information, including personal references.</p>

<!--
<div id="wufoo-zilgxi11y9l8gg">
Fill out my <a href="https://fabricatorzorg.wufoo.com/forms/zilgxi11y9l8gg">online form</a>.
</div>
<script type="text/javascript">var zilgxi11y9l8gg;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'fabricatorzorg',
'formHash':'zilgxi11y9l8gg',
'autoResize':true,
'height':'1952',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { zilgxi11y9l8gg = new WufooForm();zilgxi11y9l8gg.initialize(options);zilgxi11y9l8gg.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
-->
