      <footer>
        <h4 style="text-align: center">For any questions, email <a href="mailto:info@basselkhartabil.org">info@basselkhartabil.org</a></h4>
        {% if site.github.is_project_page %}
        <p><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> <a href="https://github.com/basselkhartabil/basselkhartabil.org/blob/master/LICENSE">by</a> <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p id="github-notice"><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        <p>
        <a href=""><img src="/favicon.ico" alt="favicon" /></a>&nbsp;&nbsp;
        <!-- <small id="copyright">&copy;</small> --><small id="history"><a href="{{ site.history_url }}">History</a></small></p>
      </footer>
