      <footer>
        <a href=""><img src="https://openclipart.org/image/32px/svg_to_png/201659/REJON-Pxlpeeps-Avatar.png" alt="pxlpeeps rejon" /></a>
        {% if site.github.is_project_page %}
        <p><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> <a href="https://github.com/rejon/rejon.org/blob/master/LICENSE">by</a> <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p id="github-notice"><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        <p><small id="copyright">&copy; Jon Phillips.</small> <small id="history"><a href="{{ site.history_url }}">History</a></small></p>
      </footer>
