<div class="partners">
	<div id="leftcol">
		<a href="http://creativecommons.org"><img src="/assets/img/partner-logos/cc-logo.png"></a>
		<a href="http://fabricatorz.org"><img src="/assets/img/partner-logos/fabricatorz-logo.png"></a>
		<a href="http://smex.org"><img src="/assets/img/partner-logos/smex-logo.png"></a>
	</div>
	<div id="rightcol">
		<a href="http://mozilla.org"><img src="/assets/img/partner-logos/mozilla-logo.png"></a>
		<a href="http://wikimedia.org"><img src="/assets/img/partner-logos/wikimedia-logo.png"></a>
		<a href="http://yallastartup.org"><img src="/assets/img/partner-logos/yallastartup-logo.png"></a>
	</div>
</div>