<h3> Reviewers </h3>

<p> Fellows will be chosen by a selection committee composed of representatives of the partner organizations, including:</p>

<h4><a href="http://nouraghazi.org">Noura Ghazi (Khartabil)</a></h4>
<p></p>
<h4><a href="http://rejon.org">Jon Phillips</a>, Fabricatorz Foundation</h4>
<p>Jon Phillips is Director of Fabricatorz, a global design & art technology studio. His work with Bassel Khartabil, Joi Ito, Lawrence Lessig, and Ai Weiwei is known. His projects have been exhibited at the Venice Biennale, SFMoMa, ICA London, OCAT Shenzhen. They have been featured in Wired, Washington Post, BBC, Al Jazeera, CNN and the Guardian. Phillips is on the board for New Palmyra. He lives in Saint Louis & Hong Kong and is working on the blockchain (more soon :).</p>
<h4><a href="http://barrythrew.com">Barry Threw</a>, Fabricatorz Foundation</h4>
<p>Barry Threw is a technologist, designer, strategist, and cultural producer with over a fifteen years of experience at the helm of forward-looking art and technology projects. His previous leadership positions have produced innovative, influential teams and businesses, ranging across built environment, experiential, and creative technology.</p>