---
---

@import "{{ site.theme }}";

body {
  font-family: 'Lekton', sans-serif;
}

header h1 {
	margin-top: 150px;
	color: #D43E37;
}

#github-notice {
  display: none;
}

a {
  color: #D43E37;
}

a:hover {
  color: black;
}

header {
	background-image: url("/assets/img/basselhead-transparent.png");
	background-size: 175px, contain;
	background-repeat: no-repeat;
	background-position: right;
}

section#partner_logos {
	margin-top: 25px;
	display: inline-block;
}

div#leftcol {
    float: left;
    display: inline-block;
    width: 45%;
    margin-right: 5%;
}

div#rightcol {
    float: right;
    display: inline-block;
    width: 45%;
}

.partners img {
	margin-bottom: 25px;
}