	<div dir="rtl"><h3>من هم المراجعين والشركاء؟</h3></div>

<div class="partners">
	<div id="leftcol">
		<a href="http://creativecommons.org"><img src="/assets/img/partner-logos/cc-logo.png"></a>
		<a href="http://fabricatorz.org"><img src="/assets/img/partner-logos/fabricatorz-logo.png"></a>
		<a href="http://newpalmyra.org"><img src="/assets/img/partner-logos/newpalmyra-logo.png"></a>
		<a href="http://jimmywalesfoundation.org"><img src="/assets/img/partner-logos/jimmywales-logo.png"></a>
	</div>
	<div id="rightcol">
		<a href="http://mozilla.org"><img src="/assets/img/partner-logos/mozilla-logo.png"></a>
		<a href="http://wikimedia.org"><img src="/assets/img/partner-logos/wikimedia-logo.png"></a>	
		<a href="http://smex.org"><img src="/assets/img/partner-logos/smex-logo.png"></a>	
		<a href="http://yallastartup.org"><img src="/assets/img/partner-logos/yallastartup-logo.png"></a>
		<a href="http://vencaf.org/venture-cafe-st-louis/"><img src="/assets/img/partner-logos/venturecafe-logo.png"></a>

	</div>
</div>
<br style="clear:both" />
