<div dir="rtl">
<h3>كيف أتقدم بطلب للزمالة؟</h3>

	<p>يجب على المتقدمين المهتمين تقديم المواد التالية إلى <strong><a href="mailto:fellowships@creativecommons.org">fellowships@creativecommons.org</a></strong> مع <strong>"تطبيق باسل خرطبيل للثقافة الحرة"</strong> في الموضوع،</p>

<ul>
	<li>بيان رؤية ، يجب أن يتناول ما يلي:</li>
	<ul>
		<li>التفاصيل المتعلقة بمبادرتك أو مشروعك المقترح ، بما في ذلك التأثيرات المتوقعة والأهداف والنتائج.</li>
		<li>سجلك عن مساهمة المجتمع المفتوح والتعاون.</li>
	</ul>
	<li>السيرة الذاتية.</li>
	<li>ملخص موجز (صفحة واحدة أو أقل) عن طلب الميزانية الخاص بك ، بما في ذلك النفقات المخططة والمتطلبات من الموارد لسنة تطوير المشروع.</li>
	<li>يمكنك أيضًا تقديم مواد خلفية إضافية لتوثيق العمل والنجاحات السابقة ، بما في ذلك مشاركات المدونة أو الفيديو أو الصوت أو التغطية الإعلامية أو تعبيرات الدعم.</li>
	</ul>

	<p><strong>آخر موعد لتقديم الطلبات هو <u>24 آذار 2018</u>.</strong></p>

	<p>قد يطلب من المتقدمين الذين يتم اختيار مشاريعهم للتقدم إلى المرحلة التالية في عملية التقييم تقديم معلومات إضافية ، بما في ذلك المراجع الشخصية.</p>

<!--
<div id="wufoo-zilgxi11y9l8gg">
Fill out my <a href="https://fabricatorzorg.wufoo.com/forms/zilgxi11y9l8gg">online form</a>.
</div>
<script type="text/javascript">var zilgxi11y9l8gg;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'fabricatorzorg',
'formHash':'zilgxi11y9l8gg',
'autoResize':true,
'height':'1952',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { zilgxi11y9l8gg = new WufooForm();zilgxi11y9l8gg.initialize(options);zilgxi11y9l8gg.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
-->
	</div>